@page "/postgresqldatabase"
@rendermode InteractiveServer
@inherits OwningComponentBase<StudentService>


<h3> Student </h3>



<table border="1">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>eMail</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in sc)
        {
            <tr>
                <td>@item.stid</td>
                <td>@item.stname</td>
                <td>@item.email</td>
                <button class="btn btn-danger" @onclick="() => RemoveStudent(item.stid)">Remove</button>
            </tr>
        }
    </tbody>
</table>


<button class="btn btn-primary" @onclick="AddNewStudent">Add noname student</button>

@code{
    public System.Collections.Generic.IList<StudentClass> sc = default!;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        sc = Service.GetStudents();
    }

    private void AddNewStudent()
    {
        try {
            Service.AddStudent(new StudentClass { stid=45, stname="noname", email="xxx@ggg.com" });
            sc = Service.GetStudents();
        } catch (Exception ex) {
            Console.WriteLine(ex); // or render ex.Message in the page
        }
    }

    private void RemoveStudent(int id)
    {
        Service.RemoveStudent(id);
        sc = Service.GetStudents();
    }
}