@page "/"
@using MailKit.Net.Smtp
@using MimeKit
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <AuthorizeView>
                    <NotAuthorized>
                        <span>You are not logged in. Please <a class="fw-bolder" href="/login">click here</a> to login</span>
                    </NotAuthorized>
                    <Authorized>
                        <span> Logged in as <b>@context?.User?.Identity?.Name</b>. <a class="fw-bolder" href="/logout">logout</a> to login</span>
                    </Authorized>
                </AuthorizeView>
            </div>    
        </div>
    </div>
</div>
