@page "/"
@using MailKit.Net.Smtp
@using MimeKit
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <AuthorizeView>
                    <NotAuthorized>
                        <span>You are not logged in. Please <a class="fw-bolder" href="/login">click here</a> to login</span>
                    </NotAuthorized>
                    <Authorized>
                        <span> Logged in as <b>@context?.User?.Identity?.Name</b>. <a class="fw-bolder" href="/logout">logout</a> to login</span>
                    </Authorized>
                </AuthorizeView>
            </div>    
        </div>
    </div>
</div>

<EditForm Model="EmailRequest" FormName="EmailForm" OnSubmit="SendEmail">
    <InputText @bind-Value="EmailRequest.To" class="form-control mt-2" placeholder="To"/>
    <InputText @bind-Value="EmailRequest.Subject" class="form-control mt-2" placeholder="Subkect"/>
    <InputText @bind-Value="EmailRequest.Body" class="form-control mt-2" placeholder="Body"/>
    <button type="submit" class="btn btn-primary">Send eMail</button>
</EditForm>

@code{
    [SupplyParameterFromForm]
    EmailRequest EmailRequest {get; set;} = new();

    void SendEmail()
    {
        var email = new MimeMessage();
        email.From.Add(MailboxAddress.Parse("artur.matkowski.zan+konfucjusz@gmail.com"));
        email.To.Add(MailboxAddress.Parse(EmailRequest.To));
        email.Subject = EmailRequest.Subject;
        email.Body = new TextPart(MimeKit.Text.TextFormat.Html)
        {
            Text = EmailRequest.Body
        };

        using var stmp = new SmtpClient();
        stmp.Connect("smtp.gmail.com", 587, MailKit.Security.SecureSocketOptions.StartTls);
        stmp.Authenticate("artur.matkowski.zan@gmail.com", "feja mskj fxru sbuq");
        stmp.Send(email);
        stmp.Disconnect(true);
    }

}